
@media (max-width: 1210px) {
    .centro-inicio{
        display: flex;
        font-size: 100px;
        & .centro-button{
            background-color: var(--cor-principal);
            height: 50px;
            width: 50px;
            margin-left: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
        }
        & img{
            height: 30px;
            width: 30px;
        }
        & h1{
            font-size: 100px;
        }
    }
}

@media (max-width: 1100px) {
    .centro-inicio{
        & .centro-button{
            height: 70px;
            width: 70px;
        }
    }
}

@media (max-width: 615px) {
    .minhaLogo{
        margin: 20px 20px;
        align-self: center;
    }
    .centro-inicio{
        display: flex;
        font-size: 50px;
        & a button{
            background-color: var(--cor-principal);
            height: 30px;
            width: 30px;
            margin-left: 5px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
        }
        & img{
            height: 20px;
            width: 20px;
        }
        & h1{
            font-size: 50px;
            margin: 0px 10px;
        }
    }
    footer{
        font-size: 0.5em;
        padding: 20px 40px;
        & .links{
            & img{
                height: 30px;
            }
        }
    }
}